<div class="frontpage site-main">

  <%- partial('_partial/panel-hero') %>

  <%- partial('_partial/panel-workshop') %>

  <%- partial('_partial/panel-proud') %>

  <%- partial('_partial/panel-gallery') %>

  <%- partial('_partial/panel-blog') %>

  <%- partial('_partial/panel-media') %>

  <%- partial('_partial/panel-faq') %>

  <%- partial('_partial/panel-materials') %>

  <%- partial('_partial/panel-partners') %>

</div>
