<!DOCTYPE html>
<html <% if(config.language) { %>lang="<%= config.language %>"<% } else { %>lang="en"<% }%>>

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>
  <script src="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.js"></script>
  <script src="https://cdn.rawgit.com/sachinchoolur/lg-pager.js/master/dist/lg-pager.js"></script>
  <script src="https://cdn.rawgit.com/sachinchoolur/lg-autoplay.js/master/dist/lg-autoplay.js"></script>
  <script src="https://cdn.rawgit.com/sachinchoolur/lg-share.js/master/dist/lg-share.js"></script>
  <script src="https://cdn.rawgit.com/sachinchoolur/lg-fullscreen.js/master/dist/lg-fullscreen.js"></script>
  <script src="https://cdn.rawgit.com/sachinchoolur/lg-zoom.js/master/dist/lg-zoom.js"></script>
  <script src="https://cdn.rawgit.com/sachinchoolur/lg-hash.js/master/dist/lg-hash.js"></script>
  <script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>


  <div id="page" class="site">

  	<header id="masthead" class="site-header top-bar" role="banner">
      <div class="content">

    		<div class="site-branding">
    		  <a href="<%- config.root %>" class="custom-logo-link" rel="home" itemprop="url">
            <img width="180" height="68" src="<%- config.root %>img/kaczucha.png" class="custom-logo" alt="girls.js" itemprop="logo" data-attachment-id="42" />
          </a>
        </div>

        <nav class="contact-menu">
          <a href="https://www.facebook.com/girlsjs" class="fb"></a>
          <a href="mailto:kontakt@girlsjs.pl" class="mail"></a>
        </nav>

    		<nav id="site-navigation" class="main-menu" role="navigation">
          <div class="menu-menu-glowne-container">
            <ul id="primary-menu" class="menu">
              <li class="menu-item">
                <a href="<%- config.root %>#workshops">Warsztaty</a>
              </li>
              <li class="menu-item">
                <a href="<%- config.root %>#news">Co u nas</a>
              </li>
              <li class="menu-item ">
                <a href="<%- config.root %>#faq">FAQ</a>
              </li>
              <li class="menu-item ">
                <a href="<%- config.root %>#materials">Materiały</a>
              </li>
              <li class="menu-item ">
                <a href="<%- config.root %>team">Zespół</a>
              </li>
            </ul>

          </div>
        </nav>
       </div>
  	</header>

  	<div id="content" class="site-content">

      <%- body %>

    </div>

    <footer id="colophon" class="site-footer" role="contentinfo">
      Powered by
      <a href="https://hexo.io/">
        <img src="https://hexo.io/logo.svg" /> Hexo
      </a>
      <span class="spacer">|</span>
      © 2018 <img src="<%- config.root %>img/favicon.png" /> girls.js
  	</footer>
  </div>

</body>

</html>
