<%
  include('../_helpers')

  var posts = getPostsOrderedByName('panel-materials');

  var main = posts.slice(0, 1).data.pop();
  var rest = posts.slice(1);
%>
<div class="panel white" id="materials">
  <section class="content materials">
    <a name="materials"></a>
    <h2 class="h1">Materiały</h2>
    <div class="entry-meta">Licencja CC-BY-NC-SA</div>

    <article>
      <div class="materials-thumbnail">
        <img width="550" height="364" src="<%- config.root %>img/laptop-shadow.png" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" />
      </div>
      <div class="file-main">
        <h3 class="entry-title"><a href="<%- main.url %>"><%- main.title %>!</a></h3>
        <div class="entry-main-content">
          <%- main.content %>
          <p class="file-main-arrow">
            <img src="<%- config.root %>img/szczalka.png" alt="" width="181" height="51" scale="0" />
          </p>
        </div>
        <!-- .entry-content -->
      </div>
    </article>
    <!-- #post-## -->
    <div class="clearfix"></div>

    <div class="files">
      <%
        rest.each(function(item) {
      %>

        <article class="file">
          <h3 class="entry-title">
            <a href="<%- item.url %>">
              <%- item.title %>
            </a>
          </h3>
          <div class="entry-main-content">
            <%- item.content %>
          </div>
        </article>

      <% }); %>
    </div>

  </section>
</div>
