<%
  include('../_helpers')

  var posts = getPostsOrderedByName('team')
%>

<div class="content-wrapper light-grey">
  <section class="content team-content">
    <h2 class="team-city">Warszawa</h2>
    <div class="team-items team">
      <% posts.filter(i => i.city === 'warsaw').each(function(item){ %>
        <%- partial('team-item', {item: item})%>
      <% }); %>
    </div>
  </section>
</div>


<div class="content-wrapper grey">
  <section class="content team-content">
    <h2 class="team-city">Poznań</h2>
    <div class="team-items team">
      <% posts.filter(i => i.city === 'poznan').each(function(item){ %>
        <%- partial('team-item', {item: item})%>
      <% }); %>
    </div>
  </section>
</div>


<div class="content-wrapper light-grey">
  <section class="content team-content">
    <h2 class="team-city">Szczecin</h2>
    <div class="team-items team">
      <% posts.filter(i => i.city === 'szczecin').each(function(item){ %>
        <%- partial('team-item', {item: item})%>
      <% }); %>
    </div>
  </section>
</div>


<div class="content-wrapper grey">
  <section class="content team-content">
    <h2 class="team-city">Kraków</h2>
    <div class="team-items team">
      <% posts.filter(i => i.city === 'cracow').each(function(item){ %>
        <%- partial('team-item', {item: item})%>
      <% }); %>
    </div>
  </section>
</div>


<div class="content-wrapper light-grey">
  <section class="content team-content">
    <h2 class="team-city">Łódź</h2>
    <div class="team-items team">
      <% posts.filter(i => i.city === 'lodz').each(function(item){ %>
        <%- partial('team-item', {item: item})%>
      <% }); %>
    </div>
  </section>
</div>

<div class="team-spacer"></div>
